body {
    font-family: 'Roboto', sans-serif; /* Fonte Roboto */
}

.container {
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card {
    border: none; /* Remova as bordas dos cartões */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff; /* Cor do botão primário */
    border-color: #007bff;
    color: #fff; /* Cor do texto do botão primário */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão primário ao passar o mouse */
    border-color: #0056b3;
}
