<!DOCTYPE html>
<html>
<head>
    <title>Painel de Administração</title>
</head>
<body>
    <h1>Painel de Administração</h1>

    <!-- Formulário para adicionar ou editar veículo -->
    <h2>Adicionar/Editar Veículo</h2>
    <form action="/admin" method="POST">
        <input type="hidden" name="id" value="">
        <label for="type">Tipo:</label>
        <input type="text" name="type" required>
        <br>
        <label for="brand">Marca:</label>
        <input type="text" name="brand" required>
        <br>
        <label for="model">Modelo:</label>
        <input type="text" name="model" required>
        <br>
        <label for="year">Ano:</label>
        <input type="number" name="year" required>
        <br>
        <label for="price_per_day">Preço por Dia:</label>
        <input type="number" step="0.01" name="price_per_day" required>
        <br>
        <input type="submit" value="Salvar">
    </form>

    <!-- Lista de veículos existentes -->
    <h2>Veículos Existentes</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>
                Marca: {{ vehicle.brand }}, Modelo: {{ vehicle.model }}, Ano: {{ vehicle.year }}, Tipo: {{ vehicle.type }}, Preço por Dia: R$ {{ vehicle.price_per_day }}
                <a href="/delete_vehicle/{{ vehicle.id }}" onclick="return confirm('Tem certeza que deseja excluir este veículo?')">Excluir</a>
                <button onclick="editVehicle({{ vehicle.id }}, '{{ vehicle.type }}', '{{ vehicle.brand }}', '{{ vehicle.model }}', {{ vehicle.year }}, {{ vehicle.price_per_day }})">Editar</button>
            </li>
        {% endfor %}
    </ul>

    <script>
        // Função para preencher o formulário de edição quando o botão "Editar" é clicado
        function editVehicle(id, type, brand, model, year, price_per_day) {
            document.querySelector('input[name="id"]').value = id;
            document.querySelector('input[name="type"]').value = type;
            document.querySelector('input[name="brand"]').value = brand;
            document.querySelector('input[name="model"]').value = model;
            document.querySelector('input[name="year"]').value = year;
            document.querySelector('input[name="price_per_day"]').value = price_per_day;
        }
    </script>
</body>
</html>
