{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Reservas Futuras</h2>
        <ul class="list-group list-group-flush">
            {% for reservation in future_reservations %}
            <li class="list-group-item rounded m-1">
                <div class="row">
                    <div class="col-md-3">
                        {% if reservation.veiculos.imagens %}
                        {% for image_path in reservation.veiculos.imagens.split(',') %}
                        {% if loop.index <= 1 %} <img src="{{ url_for('static', filename='images/' ~ image_path) }}"
                            alt="{{ reservation.veiculos.brand }} {{ reservation.veiculos.model }}"
                            class="img-fluid img-thumbnail rounded" style="max-height: 300px;">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                    </div>
                    <div class="col-md-9">
                        <strong class="mb-1">Veículo:</strong> {{ reservation.veiculos.brand }} {{
                        reservation.veiculos.model }}<br>
                        <strong class="mb-1">Recolha do veículo em:</strong> {{
                        reservation.start_date.strftime('%d/%m/%Y') }} às {{
                        reservation.start_time.strftime('%H:%M') }}<br>
                        <strong class="mb-1">Devolução do veículo em:</strong> {{
                        reservation.end_date.strftime('%d/%m/%Y') }} às {{
                        reservation.end_time.strftime('%H:%M') }}<br>
                        <strong class="mb-1">Duração total:</strong> {{ reservation.duration }} dia{% if
                        reservation.duration > 1 %}s{%
                        endif%}<br>
                        <strong class="mb-1">Status:</strong> {{ reservation.status }}<br>
                        {% if reservation.status == "Ativa" %}
                        <div class="col-md-12">
                            <form method="POST" action="{{ url_for('cancel_reservation', id=reservation.id) }}">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-times"></i> Cancelar Reserva
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Reservas Passadas</h2>
        <ul class="list-group list-group-flush">
            {% for reservation in past_reservations %}
            <li class="list-group-item rounded m-1">
                <div class="row">
                    <div class="col-md-3">
                        {% if reservation.veiculos.imagens %}
                        {% for image_path in reservation.veiculos.imagens.split(',') %}
                        {% if loop.index <= 1 %} <img src="{{ url_for('static', filename='images/' ~ image_path) }}"
                            alt="{{ reservation.veiculos.brand }} {{ reservation.veiculos.model }}"
                            class="img-fluid img-thumbnail rounded" style="max-height: 300px;">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                    </div>
                    <div class="col-md-9">
                        <strong class="mb-1">Veículo:</strong> {{ reservation.veiculos.brand }} {{
                        reservation.veiculos.model }}<br>
                        <strong class="mb-1">Recolha do veículo em:</strong> {{
                        reservation.start_date.strftime('%d/%m/%Y') }} às {{
                        reservation.start_time.strftime('%H:%M') }}<br>
                        <strong class="mb-1">Devolução do veículo em:</strong> {{
                        reservation.end_date.strftime('%d/%m/%Y') }} às {{
                        reservation.end_time.strftime('%H:%M') }}<br>
                        <strong class="mb-1">Duração total:</strong> {{ reservation.duration }} dia{% if
                        reservation.duration > 1 %}s{%
                        endif%}<br>
                        <strong class="mb-1">Status:</strong> {{ reservation.status }}<br>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a href="{{ url_for('index') }}" class="btn btn-secondary me-2">Voltar</a>
    </div>
</div>
{% endblock %}