<!-- client_login.html -->
<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <title>Login do Cliente</title>
</head>
<body>
    <!-- Incluir o template do cabeçalho específico para o login do cliente -->
    {% include 'client_header.html' %}

    <h1>Login do Cliente</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post" action="{{ url_for('client_login') }}">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
