{% extends 'base_admin.html' %}

{% block content %}

<div class="container mt-4">
    <h1>Editar Veículo</h1>
    <!-- Adicionar a exibição de mensagens flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
        <div class="alert alert-{{ message[0] }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <form method="post" action="/edit_vehicle/{{ vehicle.id }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="vehicle_type" class="form-label">Tipo de Veículo</label>
            <select class="form-select" id="vehicle_type" name="vehicle_type">
                <option value="CARRO" {% if vehicle.type==VehicleType.CARRO %}selected{% endif %}>Carro</option>
                <option value="MOTA" {% if vehicle.type==VehicleType.MOTA %}selected{% endif %}>Mota</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Marca</label>
            <input type="text" class="form-control" id="brand" name="brand" value="{{ vehicle.brand }}" required>
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="model" name="model" value="{{ vehicle.model }}" required>
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Ano</label>
            <input type="number" class="form-control" id="year" name="year" value="{{ vehicle.year }}" required>
        </div>
        <div class="mb-3">
            <label for="price_per_day" class="form-label">Diária (em €)</label>
            <input type="number" step="0.01" class="form-control" id="price_per_day" name="price_per_day"
                value="{{ vehicle.price_per_day }}" required>
        </div>
        <div class="mb-3">
            <label for="last_maintenance_date" class="form-label">Última Manutenção</label>
            <input type="date" class="form-control" id="last_maintenance_date" name="last_maintenance_date"
                value="{{ vehicle.last_maintenance_date.strftime('%Y-%m-%d') }}" required>
        </div>
        <div class="mb-3">
            <label for="next_maintenance_date" class="form-label">Próxima Manutenção</label>
            <input type="date" class="form-control" id="next_maintenance_date" name="next_maintenance_date"
                value="{{ vehicle.next_maintenance_date.strftime('%Y-%m-%d') }}" required>
        </div>
        <div class="mb-3">
            <label for="last_legalization_date" class="form-label">Última Legalização</label>
            <input type="date" class="form-control" id="last_legalization_date" name="last_legalization_date"
                value="{{ vehicle.last_legalization_date.strftime('%Y-%m-%d') }}" required>
        </div>
        <div class="mb-3">
            <label for="next_legalization_date" class="form-label">Próxima Legalização</label>
            <input type="date" class="form-control" id="next_legalization_date" name="next_legalization_date"
                value="{{ vehicle.next_legalization_date.strftime('%Y-%m-%d') }}" required>
        </div>
        <div class="form-group">
            <label for="imagens">Imagens do veículo</label>
            <input type="file" class="form-control" id="imagens" name="imagens" multiple>
        </div>
        <div class="mb-3">
            <label for="current_images" class="form-label">Imagens atuais do veículo</label>
            {% if vehicle.imagens %}
            <div class="row">
                {% for image_path in vehicle.imagens.split(',') %}
                <div class="col-md-4 mb-3">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{{ url_for('static', filename='images/' ~ image_path) }}" alt="Imagem do Veículo"
                            class="img-fluid img-thumbnail" style="max-height: 200px;">
                        <form action="{{ url_for('delete_image', image_path=image_path, vehicle_id=vehicle.id) }}"
                            method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm mt-2">Apagar</button>
                        </form>

                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Não há imagens associadas a este veículo.</p>
            {% endif %}
        </div>

        <div class="d-flex justify-content-end mt-4">
            <a href="{{ url_for('admin_panel') }}" class="btn btn-secondary me-2">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </div>
    </form>
</div>
<!-- Lógica para preencher a categoria automaticamente -->
<script>
    document.getElementById("price_per_day").addEventListener("input", function () {
        const diaria = parseFloat(this.value);
        let categoria = "";
        if (diaria <= 50) {
            categoria = "Económico";
        } else if (diaria <= 250) {
            categoria = "Silver";
        } else {
            categoria = "Gold";
        }
        document.getElementById("categoria").value = categoria;
    });
</script>
{% endblock %}