<!DOCTYPE html>
<html>
<head>
    <title>Aluguel de Veículos</title>
</head>
<body>
    <!-- Botões de login/logout do cliente -->
    {% if 'client' in session %}
        <div style="text-align: right;">
            <a href="{{ url_for('client_logout') }}">Logout</a>
        </div>
    {% else %}
        <div style="text-align: right;">
            <a href="{{ url_for('client_login') }}">Login do Cliente</a>
        </div>
    {% endif %}

    <h1>Bem-vindo ao nosso website de aluguel de veículos!</h1>
    <h2>Veículos Disponíveis:</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>Marca: {{ vehicle.brand }}, Modelo: {{ vehicle.model }}, Ano: {{ vehicle.year }}, Tipo: {{ vehicle.type }}, Preço por Dia: € {{ vehicle.price_per_day }}</li>
        {% endfor %}
    </ul>
    <h2>Reservar Veículo:</h2>
    <form action="/alugar" method="POST">
        <!-- Resto do formulário permanece igual -->
    </form>
</body>
</html>
