{% extends 'base.html' %}

{% block content %}
<!-- Adicionar a exibição de mensagens flash -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert alert-{{ message[0] }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="container mt-4">
    <h1 class="mb-4">Reserva de Veículo</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/' ~ veiculo.imagens.split(',')[0]) }}"
                alt="Imagem do Veículo" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ veiculo.brand }} {{ veiculo.model }}</h2>
            <p>Ano: {{ veiculo.year }}</p>
            <p>Preço por dia: €{{ '%.2f' % veiculo.price_per_day }}</p>
            <br>
            <br>
            <h5>Agendamento de recolha do veículo</h5>
            <form method="POST">
                <div class="mb-3">
                    <label for="data_recolha" class="form-label">Data de Recolha</label>
                    <input type="date" class="form-control" id="data_recolha" name="data_recolha" required>
                </div>
                <div class="mb-3">
                    <label for="hora_recolha" class="form-label">Hora de Recolha</label>
                    <input type="time" class="form-control" id="hora_recolha" name="hora_recolha" required>
                </div>
                <div class="mb-3">
                    <label for="duracao" class="form-label">Duração do Aluguer (em dias)</label>
                    <input type="number" class="form-control" id="duracao" name="duracao" required>
                </div>
                <p>Preço Total: <span id="precoTotal">€0.00</span></p>
                <div class="mb-3">
                    <label for="payment_method" class="form-label">Método de Pagamento</label>
                    <select class="form-control" id="payment_method" name="payment_method" required>
                        <option value="mbway">MB WAY</option>
                        <option value="multibanco">Multibanco</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Continuar para Pagamento</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const duracaoInput = document.getElementById("duracao");
        const precoTotalSpan = document.getElementById("precoTotal");

        duracaoInput.addEventListener("input", function () {
            const duracao = parseFloat(duracaoInput.value);
            const precoPorDia = {{ veiculo.price_per_day| safe
        }};
    const precoTotal = duracao * precoPorDia;
    precoTotalSpan.textContent = `€${precoTotal.toFixed(2)}`;
        });
    });
</script>

{% endblock %}