{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div id="vehicleCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-interval="2000">
                <div class="carousel-indicators">
                    {% for image in images_with_index %}
                    <button type="button" data-bs-target="#vehicleCarousel" data-bs-slide-to="{{ image.index }}" {% if
                        loop.first %}class="active" {% endif %}></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in images_with_index %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url_for('static', filename='images/' ~ image.path) }}" alt="Imagem do Veículo"
                            class="d-block img-fluid rounded w-100">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#vehicleCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#vehicleCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{ veiculo.brand }} {{ veiculo.model }}</h1>
            <p>Ano: {{ veiculo.year }}</p>
            <p>Preço por dia: €{{ '%.2f' % veiculo.price_per_day }}</p>
            <p>Status: {% if veiculo.status %}Disponível{% else %}Indisponível{% endif %}</p>
            <div class="mt-4">
                <a href="{{ url_for('reserve', id=veiculo.id) }}" class="btn btn-primary">
                    <i class="fas fa-calendar-plus"></i> Reservar
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a href="{{ url_for('index') }}" class="btn btn-secondary me-2">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
{% endblock %}
