{% extends 'base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ vehicle.brand }} {{ vehicle.model }}</h1>
    <p><strong>Tipo:</strong> {{ vehicle.type.value }}</p>
    <p><strong>Ano:</strong> {{ vehicle.year }}</p>
    <p><strong>Preço por dia:</strong> {{ vehicle.price_per_day }}</p>
    <p><strong>Categoria:</strong> {{ vehicle.categoria }}</p>
    <p><strong>Status:</strong> {% if vehicle.status %}Disponível{% else %}Indisponível{% endif %}</p>
    <p><strong>Em manutenção:</strong> {% if vehicle.in_maintenance %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Data da última manutenção:</strong> {% if vehicle.last_maintenance_date %}{{
        vehicle.last_maintenance_date.strftime('%d/%m/%Y') }}{% else %}N/A{% endif %}</p>
    <p><strong>Próxima data de manutenção:</strong> {% if vehicle.next_maintenance_date %}{{
        vehicle.next_maintenance_date.strftime('%d/%m/%Y') }}{% else %}N/A{% endif %}</p>
    <p><strong>Histórico de manutenção:</strong></p>
    <ul>
        {% for maintenance_date in vehicle.maintenance_history.split(';') if maintenance_date %}
        <li>{{ maintenance_date }}</li>
        {% endfor %}
    </ul>
    <p><strong>Data da última legalização:</strong> {% if vehicle.last_legalization_date %}{{
        vehicle.last_legalization_date.strftime('%d/%m/%Y') }}{% else %}N/A{% endif %}</p>
    <p><strong>Próxima data de legalização:</strong> {% if vehicle.next_legalization_date %}{{
        vehicle.next_legalization_date.strftime('%d/%m/%Y') }}{% else %}N/A{% endif %}</p>
    <p><strong>Histórico de legalização:</strong></p>
    <ul>
        {% for legalization_date in vehicle.legalization_history.split(';') if legalization_date %}
        <li>{{ legalization_date }}</li>
        {% endfor %}
    </ul>
</div>
<!-- Botão para retornar ao admin panel -->
<div class="container mt-4">
    <a href="{{ url_for('admin_panel') }}" class="btn btn-primary">Voltar ao Admin Panel</a>
</div>
{% endblock %}